.side-nav-holder {
  min-width: 180px;
  padding-top: 30px;
  position: fixed;
  height: 600px;
}

.side-nav-holder ul {
  padding: 0;
}

.side-nav-holder ul li {
  list-style: none;
  width: fit-content;
  height: fit-content;
}

.side-nav-holder ul li:first-child p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .side-nav-holder ul li:hover {

    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);

} */

@media (max-width: 800px) {
  .side-nav-holder {
    display: none;
  }
}
